div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
    animation-name: coloranimate;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

  @keyframes coloranimate{
    from {
        left: 0px;
        background-color: yellow;
    }
    to {
        left:200px;
        background-color: red;
    }
  }
div:hover{
  
}
