.loader{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #FFE66D ;
    border-top: 20px solid #4ECDC4;
    animation: spinAnimate 1s ease-in 0s 2 normal;
}

@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}