/* #box{
    background-color: yellowgreen;
    text-align: center;
    text-decoration: overline;
}
.heading{
    color: red;
    text-align: right;
    text-decoration: underline;
}
button{
    background-color: green;
}
#decoration{
    text-decoration: none;
}
#h1{
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#h2{
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}
#h3{
    font-weight: 250;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}
#h5{ */
    /* font-weight: 900;
    font-family: serif;
}
p{
    line-height: 35px;
    text-transform: uppercase;
} */
/* #margin{
    height: 100px;
    background-color: pink;
    width: 100px;
    border-width:2px;
    border-style:solid;
    border-color: black;
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
#padding{
    height: 50px;
    width: 200px;
    background-color: yellowgreen;
    /*border-width: 3px;
    border-style: dotted;
    border-color: brown; 
    border: 3px dotted red;
    text-align: center;
    padding:20px 40px 20px 40px;
    margin:25px 25px 25px 25px ;
} */
  div{
  height: 100px;
  width: 100px;
  margin:25px;
  padding: 25px;
  display:inline-block ;
 }
/* #box2{
   background-color: rgba(255, 0, 0, 0.5);
    /* visibility: hidden;
 } */
  #box1{
    background-color: rgba(0, 0, 255, 0.5);
  }
   #box2{
    background-color: rgba(0, 0, 255, 0.75);
   }
    #box3{
    background-color: rgba(0, 0, 255, 1);
    }